#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
p {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  border: 1px solid rgb(99, 193, 234);
  border-radius: 30px;
  box-shadow: 2px 2px 2px ;
  background-color: rgb(241, 241, 233);
}
p:hover {
  background-color: blueviolet;
}
